<!--#################################################################################################################-->
<!-- TABLE HEADER-->
<!--#################################################################################################################-->

<thead class="pricingMatrix-table-head">
<tr>
    <th class="feature feature--pricingPlanToggle"></th>
    <th class="feature feature--pricingPlanTitle ">
        Standard
    </th>
    <th class="feature feature--pricingPlanTitle feature--highlighted">
            <span class="pricingPlanEyecatcherTag">most popular
    </span> Plus
    </th>
    <th class="feature feature--pricingPlanTitle ">
        Pro
    </th>
    <th class="feature feature--pricingPlanTitle ">
        Enterprise
    </th>
</tr>
<tr>
    <th class="feature feature--pricingPlanToggle">
        <toggle class="pricingMatrix-pricingToggle toggle" targets=".pricingMatrix-table, .pricingMatrix-accordion"
                remove-classes="monthly annual">
            <button class="toggle-button toggle-button--active" ng-click="toggle($event, 'monthly');">Monthly</button>
            <button class="toggle-button" ng-click="toggle($event, 'annual');">Annual</button>
        </toggle>
        <div class="pricingMatrix-priceDescription">
            <p>Save up to 10% when you pay annually. <em>Offer available for Plus and Pro plans.</em></p>
        </div>
    </th>
    <th class="feature feature--pricingPlanPrice "><span class="pricingPlanPrice pricingPlanPrice--monthly"><p
            class="price"><span class="price-currency">$</span><span class="price-amount">29</span><span
            class="price-decimals">.95</span><span class="type-large">/mo</span></p>
            </span><span class="pricingPlanPrice pricingPlanPrice--annual"><p class="price"><span
            class="price-currency">$</span><span class="price-amount">29</span><span
            class="price-decimals">.95</span><span class="type-large">/mo</span></p>
            </span>
    </th>
    <th class="feature feature--pricingPlanPrice feature--highlighted"><span
            class="pricingPlanPrice pricingPlanPrice--monthly"><p class="price"><span
            class="price-currency">$</span><span class="price-amount">79</span><span
            class="price-decimals">.95</span><span class="type-large">/mo</span></p>
            </span><span class="pricingPlanPrice pricingPlanPrice--annual"><p class="price"><span
            class="price-currency">$</span><span class="price-amount">71</span><span
            class="price-decimals">.95</span><span class="type-large">/mo</span></p>
            </span>
    </th>
    <th class="feature feature--pricingPlanPrice "><span class="pricingPlanPrice pricingPlanPrice--monthly"><p
            class="price"><span class="price-currency">$</span><span class="price-amount">249</span><span
            class="price-decimals">.95</span><span class="type-large">/mo</span></p>
            </span><span class="pricingPlanPrice pricingPlanPrice--annual"><p class="price"><span
            class="price-currency">$</span><span class="price-amount">224</span><span
            class="price-decimals">.95</span><span class="type-large">/mo</span></p>
            </span>
    </th>
    <th class="feature feature--pricingPlanPrice ">
            <span class="pricingPlanPrice pricingPlanPrice--monthly">
            <p>
                <a href="/contact-sales/">Contact sales</a> or call
                <a href="tel:1-866-991-0872" class="phone-number">1-866-991-0872</a>
                for custom pricing lower than Magento and Shopify Plus
        </p>
        </span>
        <span class="pricingPlanPrice pricingPlanPrice--annual">
            <p>
                <a href="/contact-sales/">Contact sales</a> or call
                <a href="tel:1-866-991-0872" class="phone-number">1-866-991-0872</a> for custom pricing lower than Magento and Shopify Plus
                </p>
        </span>
    </th>
</tr>
<tr>
    <td></td>
    <td class="feature">Sell online with your own beautiful online store</td>
    <td class="feature feature--highlighted">Grow your online business with marketing tools proven to increase
        conversion
    </td>
    <td class="feature">Scale your growing business with a comprehensive set of features</td>
    <td class="feature">Power your team’s success with the best full-service open platform</td>
</tr>
</thead>


<!--#################################################################################################################-->
<!-- Included in all plans = tbody:nth-of-type(1) -->
<!--#################################################################################################################-->
<tr>
    <th class="pricingMatrix-featureText">
        No transaction fees
        <span class="icon icon-info ng-scope" tooltip-append-to-body="true" tooltip-placement="top"
              tooltip-html-unsafe="BigCommerce does not take a cut of transactions from your store.">
        </span>
    </th>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>0%</p></span></td>
    <td class=" feature feature--highlighted feature--featureOverride"><span class="featureTextWrapper"><p>0%</p></span>
    </td>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>0%</p></span></td>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>0%</p></span></td>
</tr>
<tr>
    <th class="pricingMatrix-featureText">
        Products, file storage and bandwidth

    </th>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span></td>
    <td class=" feature feature--highlighted feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span>
    </td>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span></td>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span></td>
</tr>
<tr>
    <th class="pricingMatrix-featureText">
        Staff accounts

    </th>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span></td>
    <td class=" feature feature--highlighted feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span>
    </td>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span></td>
    <td class=" feature feature--featureOverride"><span class="featureTextWrapper"><p>Unlimited</p></span></td>
</tr>






