.popup {
    background-image: url("https://cdn.optimizely.com/img/134769299/ff35e7285c474a4e9d3da3cb28e95e34.png");
    width: 700px;
    height: 556px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -350px; /* negative half of width above */
    margin-top: -278px; /* negative half of height above */
    text-align: center;
    z-index: 600;
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
}

.close-btn {
    background-color: black;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.4rem;
    padding-top: 5px;
}

.popup-title {
    font-size: 1.7rem;
    margin-top: 290px;
}

.popup-text {
    font-size: 1.4rem;
    margin: 20px 10%;
}

.popupBtn {
    height: 45px;
}

body {
    filter: opacity(0.1);
}

@media screen and (max-width: 768px) {
    .popup {
        display: none;
    }

    body {
        filter: opacity(1);
    }
}
