.popup {
    background-color: black;
    width: 400px;
    height: 400px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px; /* negative half of width above */
    margin-top: -200px; /* negative half of height above */
    text-align: center;
    font-family: Gotham Narrow A, Gotham Narrow B, Helvetica, Arial, sans-serif;
}

.close-btn {
    background-color: black;
    position: absolute;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}