@media (min-width: 768px) {

    /*First name and last name on the same column*/
    div:nth-of-type(10) {
        display: inline-block;
        width: 49%;
        margin-right: 1% !important;
    }

    div:nth-of-type(11) {
        display: inline-block;
        width: 49%;
        margin-left: 1% !important;
    }
}

/*Hide revenue element*/
#Projected_Annual_Revenue__c {
    /*display: none;*/
}

#under_1_million, #over_1_million {
    margin-right: 5px;
}