.banner-opt {
    background-color: #208831;
    color: #fff;
    font-family: "Source Sans", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    padding: 5px;
    text-align: center;
    width: 100vw;
}

.banner-opt > p {
    font-size: 16pt;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .banner-opt > p {
        font-size: 12pt;
    }
}
