.col-md-6 {
    max-width: 100%;
    flex-basis: auto;
}

.col-md-5 {
    display: none;
}

form.interactive {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
}

.mktoButtonRow {
    text-align: right !important;
}
