#contentBlock48691 {
    background-color: white;
}

#top-bar-actions-trial {
    display: none;
}

.pricingMatrix-table .pricingPlanEyecatcherTag {
    background-color: #201b55;
}

h3.text-center {
    font-weight: 500;
}

.trial-button {
    padding: 15px 50px;
}